# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
python==3.9.2
libgcc-ng=9.1.0
pandas
gdal
pyproj
tqdm
numpy=1.20.1=pypi_0
h5py
plotly

